ctranslate2>=3.24.0,<5
datasets==2.21.0
evaluate==0.4.2
fastapi==0.112.1
huggingface_hub>=0.24.5
memory_profiler==0.61.0
numpy>=1.26.4
onnxruntime>=1.14,<2
py3nvml==0.2.7
pytest==7.4.0
requests==2.32.3
setuptools==72.1.0
tokenizers>=0.7.0,<1
torch>=2.1.1,<=2.3.1+cu121
torchaudio>=2.1.2,<=2.3.1+cu121
torchvision>=0.18.1+cu121
tqdm>=4.66.5
transformers>=4.23,<5
uvicorn==0.30.5
pyannote-audio>=3.1.1
python-multipart
numba
more-itertools
tiktoken
triton>=2.0.0,<3; platform_machine=="x86_64" and sys_platform=="linux" or sys_platform=="linux2"
